<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/form.css" /> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Winky Rough">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sorts Mill Goudy">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Literata">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Literata"> -->

  <title>University Finder</title>
</head>
<!------------------------------------------------------------------------------------>
<body>
    <h1 class = "top-text"><b>University Finder</b></h1>
    <div class = "Interact-Zone">
        <div class="questionnaire">
            <h2 id = "question5" class="question"> Do you need your university program to offer a co-op program?
</h2>
            <form method = "POST" action = "/form/question5">
            <div id = "selections">
                <input type = "radio" id = "5:1" name = "5:1" value = "yes"></input>
                <label for="5:1">Yes, very extensive program</label>
                <br>
                <input type = "radio" id = "5:2" name = "5:1" value = "yes"></input>
                <label for="5:2">Yes, but I'm okay with limited options</label>
                <br>
                <input type = "radio" id = "5:3" name = "5:3" value = "yes"></input>
                <label for="5:3">No / No preference</label>
                <br>
                <br>
                <input type = "submit" value="Submit Answer"></input>
            </div>
            </form>
            <hr>
            <div class = "sub">
                <button onclick="window.location.href='/form/question6'">Submit</button>
            </div>
        </div>
    </div>
    
    <div class = "bottom-link"><a href ="/">List of Universities</a></div>

    <!--<script src = "Front-Page.js"></script>-->
</body>
