<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/form.css" /> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Winky Rough">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sorts Mill Goudy">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Literata">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Literata"> -->

  <title>University Finder</title>
</head>
<!------------------------------------------------------------------------------------>
<body>
    <h1 class = "top-text"><b>University Form Questionaire</b></h1>
    <div class = "Interact-Zone">
        <div class="questionnaire">
            <h2 id = "question1" class="question"> What are your Non-Negotiables? If None, Click Submit:</h2>
            <form method = "POST" action = "/form/question1">
            <div id = "selections">
                <input type = "checkbox" id = "tuition" name = "tuition" value = "yes"></input>
                <label for="tuition">Tuition Cost</label>
                <br>
                <input type = "checkbox" id = "location" name = "location" value = "yes"></input>
                <label for="location">University Location</label>
                <br>
                <input type = "checkbox" id = "living" name = "living" value = "yes"></input>
                <label for="living">Cost of Living</label>
                <br>
                <input type = "checkbox" id = "co-op" name = "co-op" value = "yes"></input>
                <label for="co-op">Co-op Opportunities</label>
                <br>
                <input type = "checkbox" id = "food" name = "food" value = "yes"></input>
                <label for="food">Residence Food Plan</label>
                <br>
                <input type = "checkbox" id = "extra" name = "extra" value = "yes"></input>
                <label for="extra">Quantity of Extracurriculars</label>
                <br>
                <br>
                <input type = "submit" value="Submit Answer"></input>
            </div>
            </form>
            <hr>
            
        </div>
    </div>
    
    <div         
        class="bottom-link">
        <a class="btn primary" id="university-list" href="/">
            List of Universities
        </a>
    </div>

    <!--<script src = "Front-Page.js"></script>-->
</body>
