<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/form.css" /> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Winky Rough">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sorts Mill Goudy">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Literata">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Literata"> -->

  <title>University Finder</title>
</head>
<!------------------------------------------------------------------------------------>
<body>
    <h1 class = "top-text"><b>University Form Questionaire Results</b></h1>
    <div class = "Interact-Zone">
        <div class="questionnaire">
            <h2 id = "question1" class="top-picks"> Your Top University Picks Are:</h2>
            <ol>
                {% for university, score in results.items() %}
                    {% if loop.index <= 3 and score >= 0 %}
                        <li class = "uni-list"><a href = "/#{{ university }}">{{ university }}</a></li>
                    {% endif %}
                {% endfor %}
</ol>

            

            <hr>

            <div         
                class="bottom-link">
                <a class="btn primary" id="university-list" href="/form/question1">
                    Restart Form
                </a>
            </div>
        </div>
    </div>
    
    <div         
        class="bottom-link">
        <a class="btn primary" id="university-list" href="/">
            List of Universities
        </a>
    </div>

    <!--<script src = "Front-Page.js"></script>-->
</body>
