<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/form.css" /> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Winky Rough">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sorts Mill Goudy">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Literata">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Literata"> -->

  <title>University Finder</title>
</head>
<!------------------------------------------------------------------------------------>
<body>
    <h1 class = "top-text"><b>University Finder</b></h1>
    <div class = "Interact-Zone">
        <div class="questionnaire">
            <h2 id = "question1" class="question"> What's the maximum you're willign to pay for cost of living?</h2>
            <form method = "POST" action = "/form/question4">
            <div id = "selections">
                <input type = "radio" id = "4:1" name = "live" value = 1 required></input>
                <label for="4:1">$1500</label>
                <br>
                <input type = "radio" id = "4:2" name = "live" value = 2></input>
                <label for="4:2">$2000</label>
                <br>
                <input type = "radio" id = "4:3" name = "live" value = 3></input>
                <label for="4:3">$2500</label>
                <br>
                <input type = "radio" id = "4:4" name = "live" value = 4></input>
                <label for="4:4">$3000</label>
                <br>
                <input type = "radio" id = "4:5" name = "live" value = 5></input>
                <label for="4:5">$3500</label>
                <br>
                <br>
                <input type = "submit" value="Submit Answer"></input>
            </div>
            </form>
            <hr>
            
        </div>
    </div>
    
    <div class = "bottom-link"><a href ="/">List of Universities</a></div>

    <!--<script src = "Front-Page.js"></script>-->
</body>
